extends ./layout/index.pug
block body
  #page-1
    .profile
      .photo
        img(src='/img/takaya-kobayashi.jpg')
      h1 Takaya Kobayashi
      h2 a.k.a. Jigsaw, neo6120
    .copy
      p A Web Application/Service Creator
    .main-links
      a.link(href='//github.com/e-jigsaw')
        i.fa.fa-github
        span Codes
      a.link(href='//twitter.com/neo6120')
        i.fa.fa-twitter
        span Tweets
  #page-2
    .links
      h3
        span Links
      .two-pane
        .pane
          .pane-links
            a.link(href='//steamcommunity.com/id/neo6120')
              i.fa.fa-steam
              span neo6120
            a.link(href='//www.last.fm/user/neo6120')
              i.fa.fa-lastfm
              span neo6120
        .pane
          .pane-links
            a.link(href='//bookmeter.com/users/81576')
              i.fa.fa-book
              span jigsaw
            a.link(href='//keybase.io/jgs')
              i.fa.fa-key
              span jgs
