html, body {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  height: 4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: monospace;
  padding: .3rem 0;
  background-color: #82221C;
}

header a {
  width: 100%;
  height: 100%;
}

header svg {
  fill: #efefef;
  width: 100%;
  height: 100%;
  position: absolute;
}

header a::before {
  content: ' ';
  border-top: 7rem solid #BD3129;
  border-left: 7rem solid transparent;
  border-right: 7rem solid transparent;
  border-bottom: 0 solid transparent;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -7rem;
}

#page-1 {
  height: calc(100vh - 10rem);
}

.profile {
  text-align: center;
  font-family: 'Cutive Mono', monospace;
}

.profile .photo img {
  width: 15rem;
  height: 15rem;
  border-radius: 15rem;
}

.profile h1, .profile h2 {
  margin: 0;
}

.copy {
  text-align: center;
  font-family: serif;
}

.main-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
  font-family: monospace;
}

.link {
  color: #333;
  text-decoration: none;
  display: block;
  margin: 0 2rem;
}

.link:hover {
  color: #333;
  text-decoration: underline;
}

.link:active {
  color: #BD3129;
}

.link:visited {
  color: #333;
}

.link .icon {
  font-size: 1.6rem;
  margin-right: .5rem;
}

#page-2 {
  height: 100vh;
}

.links h3 {
  text-align: center;
  font-weight: normal;
  width: 80vw;
  margin: 0 auto;
  border-bottom: 1px solid #666;
  line-height: 0;
}

.links h3 span {
  background-color: #fff;
  padding: 0 2rem;
}

.link-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem 2rem;
  margin: 1.5rem auto;
  justify-content: center;
}

.link-grid a {
  margin: 0;
}

.link-grid a span {
  position: relative;
  top: -.2rem;
}

._404 {
  text-align: center;
  font-size: 3rem;
}
